<%= form_tag "/shelters/#{@shelter.id}/pets" do %>
  <h2>Create a New Pet</h2>
  <%= label_tag :image%>
  <%= text_field_tag :image %><br>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br>
  <%= label_tag :description%>
  <%= text_field_tag :description %><br>
  <%= label_tag :approximate_age %>
  <%= text_field_tag :approximate_age %><br>
  <%= label_tag :sex %>
  <%= text_field_tag :sex%><br>
  <%= submit_tag 'Create Pet' %>
<% end %>
