<%= @application.applicant %>
<%= @application.address %>
<%= @application.description %>
<% @application.pets.each do |pet| %>
  <section id='pet-link-<%= pet.id %>'>
    <li>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    </li>
  </section>
<% end %>
<%= @application.application_status %>

<br>

<section id="app-submission">
  <%= button_to "Submit Application", "/applications/#{@application.id}", method: :patch %>
</section>

<br>

<section id="pet-search">
<h4>Search for A Pet</h4>
<%= form_tag "/applications/#{@application.id}", method: :get  do %>
  <%= label_tag "Search" %>
  <%= search_field_tag :search, Pet.find_by(name: params[:search])  %>

  <%= submit_tag "Submit" %>
<% end %>
<% @pet_list.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}" %>
  <% if @application.application_status == "In Progress" %>
<<<<<<< Updated upstream
    <h4>Search for A Pet</h4>
    <%= form_tag "/applications/#{@application.id}", method: :get  do %>
      <%= label_tag "Search" %>
      <%= search_field_tag :search, Pet.find_by(name: params[:search])  %>

      <%= submit_tag "Submit" %>
    <% end %>
    <% @pet_list.each do |pet| %>
      <li>
        <%= link_to pet.name, "/pets/#{pet.id}" %>
      </li>
      <% if pet.adoptable %>
        <%= button_to "Adopt", "/pets/#{pet.id}/applications/#{@application.id}", method: :post %>
      <% end %>
=======
  <% end  %>
<% end %>
  <% @pet_list.each do |pet| %>
    <li>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
    </li>
    <% if pet.adoptable %>
      <%= button_to "Adopt", "/pets/#{pet.id}/applications/#{@application.id}", method: :post %>
>>>>>>> Stashed changes
    <% end %>
  <% end  %>
</section>
