<h1>Pets</h1>

<% @pets.each do |pet| %>
  <% if pet.adoptable == true %>
    <%= pet.image %><br>
    name: <%= pet.name %><br>
    approx age: <%= pet.approximate_age %><br>
    sex: <%= pet.sex%><br>
    shelter: <%= pet.shelter.name %><br>
  <% end %>
<% end %>
