<h1>Pets</h1>

<% @pets.each do |pet| %>
  <% if pet.adoptable == true %>
  <section id="pet-<%=pet.id%>">
      <%= pet.image %><br>
      name: <%= pet.name %><br>
      approx age: <%= pet.approximate_age %><br>
      sex: <%= pet.sex%><br>
      shelter: <%= pet.shelter.name %><br>
      <a href="/pets/<%= pet.id %>/edit">Update Pet</a>
      <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %><br>
    </section>
  <% end %>
<% end %>
