<%= @pet.image %>
<h2>Name: <%= "#{@pet.name}" %></h2><br>
Description: <%= @pet.description %><br>
Approx Age: <%= @pet.approximate_age %><br>
Sex: <%= @pet.sex %><br>
Adoption Status: <%= @pet.adoptable? %>
